<footer class="site-footer">
    <div class="container">
      <div>&nbsp;</div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6"><a href="https://merit.mn/" target="_blank"><img src="/LOGO1.png"/></a></div>
            <div class="col-md-6"><a href="https://igg.ac.mn/" target="_blank"><img src="/LOGO4.png"/></a></div>
          </div>
        </div>
        <div class="col-md-6 attribution">
          
            <p><strong style="text-transform: uppercase">{{ _('Contact us') }}</strong></p><br/>

            <div class="row">
                <div class="col-md-12">
                <i class="fa fa-map-marker" style="font-size: 1.4em; float: left;"></i>
                <div style="margin-left: 30px">
                  КАНАДЫН МЭРГЭЖЛИЙН ҮЙЛЧИЛГЭЭНИЙ БАЙГУУЛЛАГА
                       </div>
        </div></div><br/>
            <div><span><i class="fa fa-phone" style="margin-right: 10px;"></i> Утас: 1-800-268-9052 &nbsp;&nbsp;&nbsp;<i class="fa fa-envelope-o"></i> 
              Цахим шуудангийн хаяг: info@ceso-saco.com</span>
              <span><br/><i class="fa fa-globe" style="margin-right: 10px;"></i> Веб хуудас: https://mn.ceso-saco.com</span>
            </div>
              
        
        </div>
      </div>
      <hr/>
      <div class="row">
          
          <div class="col-md-8">
              <img src="/LOGO3.png"/>
          </div>
          <div class="col-md-4">

              <div style="float: right;">
                  <div class="footer-social">
                  <a href="https://www.facebook.com/pages/CESO-SACO/102471409807904"><i class="fa fa-facebook circle"></i></a>
                  <a href="https://twitter.com/cesosaco"><i class="fa fa-twitter circle"></i></a>
                  <a href="#"><i class="fa fa-google-plus circle"></i></a>
                  <a href="https://www.youtube.com/user/CESOSACO"><i class="fa fa-youtube-play circle"></i></a>
                </div>
                  <br/>
              <div style="float: right;">Copyright © 2018 MERIT</div>
            </div>
            </div>
      </div>
      <div>&nbsp;</div>
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>