<footer class="site-footer">
    <div class="container">
      <div>&nbsp;</div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6"><a href="http://portal.sesmim.mn/" target="_blank"><img src="/LOGO2.png"/></a></div>
            <div class="col-md-6"><a href="http://portal.igg.ac.mn/" target="_blank"><img src="/LOGO4.png"/></a></div>
          </div>
        </div>
        <div class="col-md-6 attribution">
          
            <p><strong style="text-transform: uppercase">{{ _('Contact us') }}</strong></p><br/>

            <div class="row">
                <div class="col-md-12">
                <i class="fa fa-map-marker" style="font-size: 1.4em; float: left;"></i>
                <div style="margin-left: 30px">
                  {{ _('Address') }}: {{ _('Project MERIT, 3rd floor, National Times Tower, Khudaldaanii gudamj, 1-r khoroo, Chingeltei duureg, Ulaanbaatar-15160') }}
                  MERIT төсөл, 
Монгол улс, Улаанбаатар-15160,
Чингэлтэй дүүрэг, 1-р хороо,
Худалдааны гудамж, Нэйшнл Таймс Ньюс Тауэр, 3-р давхар
                       </div>
        </div></div><br/>
            <div><span><i class="fa fa-phone" style="margin-right: 10px;"></i> {{ _('Phone') }}: +976-76105000 &nbsp;&nbsp;&nbsp;<i class="fa fa-envelope-o"></i> 
              {{ _('E-mail address') }}: support@merit.mn</span>
              <span><br/><i class="fa fa-globe" style="margin-right: 10px;"></i> {{ _('Web site') }}: http://merit.mn</span>
            </div>
              
        
        </div>
      </div>
      <hr/>
      <div class="row">
          
          <div class="col-md-6">
            <a href="https://www.international.gc.ca/" target="_blank"><img src="/LOGO3.png" style="width: 100%"/></a>
          </div>
          <div class="col-md-6">

              <div style="float: right;">
                  <div class="footer-social">
                  <a href="https://www.facebook.com/MERIT.mn/" target="_blank"><i class="fa fa-facebook circle"></i></a>
                  <a href="https://twitter.com/cesosaco" target="_blank"><i class="fa fa-twitter circle"></i></a>
                  <a href="#"><i class="fa fa-google-plus circle"></i></a>
                  <a href="https://www.youtube.com/user/CESOSACO" target="_blank"><i class="fa fa-youtube-play circle"></i></a>
                </div>
                  <br/>
              <div style="float: right;">Copyright © 2018 MERIT</div>
            </div>
            </div>
      </div>
      <div>&nbsp;</div>
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>