{% if h.lang()=='mn_MN' %}
<h2>Институцийн өөрчлөлт хийх заваар Эрдэс баялгын менежментийг сайжруулах MERIT төсөл</h2>
<p>Монгол дахь техникийн зөвлөхүүд болон MERIT төслийн багийн дэмжлэгтэйгээр MERIT төслийг Канадын мэргэжлийн үйлчилгээний байгууллага (КМҮБ) болон Канадын дэлхийн их сургуулийн үйлчилгээ (КДИСҮ) гэх Канадын хоёр төрийн бус байгууллагын консорциум хэрэгжүүлж байна. </p>
<p>MERIT нь Канад Улсын Гадаад хэргийн яамны санхүүжилттэй 7 жил (2016-2023) -ийн хугацаанд хэрэгжих төсөл юм.</p>
<h3>Төслийн үр дүн:</h3>
<ul>
<li>Олборлох салбарыг үр дүнтэй удирдах чиглэлээр төрийн байгууллагуудын чадавхийг бэхжүүлэх</li>
<li>Эрдэс баялгийн салбарт үйл ажиллагаа явуулж байгаа төрийн байгууллага, иргэний нийгэм, орон нутгийн олон нийтийн бүлгүүдийн хамтын ажиллагааг бэхжүүлэх</li>
<li>Олон нийтийн бүлгүүдэд орон нутгийг хөгжүүлэх ажилд оролцох, түүнээс үр шим хүртэхэд дэмжлэг үзүүлэх</li>
<li>Эрдэс баялгийн салбарын бодлогод жендэрийн эрх тэгш байдлыг хангах, бодлогод тусгах, хэрэгжүүлэх, дэмжих</li>
<li>Тогтвортой байдлыг хангах зорилгоор байгууллагуудыг чадавхижуулах ба мэдлэгийн портал үүсгэх</li>
</ul>
<p><strong>Энэхүү MERIT мэдлэгийн портал нь төсөл хэрэгжүүлэх явцад урт болон богино хугацааны техникийн зөвлөхүүдийн ашигласан сургалтын материал, төслийн хэрэгжилттэй холбоотой бусад мэдээ мэдээллийг олон нийтэд нээлттэй мэдээллэх зорилгоор хийгдсэн болно</strong></p>

{% else %}

      
        
    <h2>Mongolia: Enhancing Resource Management through Institutional Transformation (MERIT)</h2>
<p>The project is implemented through a partnership between two Canadian non-profit organizations: CESO (Canadian Executive Service Organization) and WUSC (World University Service of Canada).</p>
<p>MERIT is a seven-year project (2016-2023) funded by Global Affairs Canada.</p>
<h3>Project outcomes:</h3>
<ul>
<li>Strengthening the capacity of public institutions working in natural resource management</li>
<li>Strong collaboration between public institutions, civil society organizations and local communities involved in resource sector</li>
<li>Supporting communities to participate in and benefit from local development</li>
<li>Mainstreaming and promoting gender equality in the resource sector</li>
<li>Strengthening institutions and developing a knowledge portal to ensure sustainability</li>
</ul>
<p><strong>This MERIT Knowledge Portal publishes all training and consulting documents, which are prepared by the long term and short term advisors during the project implementation stage in Mongolia</strong> </p>
  



{% endif %}

<br/>
<br/>
